# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

node_modules/
**/node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/
out/

# Hide the API key from public view
**/*.env
backend/key.env

# Ignore the virtual environment folder 
venv/
**/venv/
env/
.env/
.venv/
ENV/

# Python
*.egg-info/
*.egg
*.pyc
*.pyo
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Hide potentially sensistive information
*.log


